<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exercise Lab2</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="page-header row">
                <h1 class="text-center">APSP Prenotazione Pasti</h1>
                <div class="col-sm-2">
                    <a href="/"><h1 class="glyphicon thumb glyphicon-arrow-left" aria-hidden="true"></h1></a>
                </div>
                <div class="col-sm-8">
                    <h2 class="text-center">Valutazione</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
            <h2>Come le sono state servite le pietanze?</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Primi Piatti</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Secondi Piatti</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Contorni</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Dessert</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h2>Secondo lei erano ben cucinate?</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Primi Piatti</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Secondi Piatti</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Contorni</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Dessert</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <h2>La temperatura andava bene?</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Primi Piatti</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Secondi Piatti</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Contorni</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <h3 class="text-center">Dessert</h3>
                        <div class="form-group form-inline text-center">
                            <label class="full"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <input class="form-control slider" type="range">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/" method="get">
                <input type="submit" class="btn btn-success pull-right" value="Inoltra">
            </form>
        </div>
    </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="/static/valuta.css" rel="stylesheet">
<!--<script src="/static/menu.js" type="text/javascript"></script>-->
</body>
</html>
